@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SacramentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingBishopric)
            </th>
            <th>
                Prayers
                
            </th>
            <th>
               Songs
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingBishopric)
            </td>
            <td>
                Opening:  @Html.DisplayFor(modelItem => item.OpeningPrayer)<br />
                Closing:  @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)<br />
                @Html.DisplayFor(modelItem => item.SacramentHymn)<br />
                @Html.DisplayFor(modelItem => item.IntermediateHymn)<br />
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a><br />
                <a asp-action="Details" asp-route-id="@item.ID">Details</a><br />
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
