@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Sacrament Meeting Planning</h1>

<p>
    <a class="btn "  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SacramentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingBishopric)
            </th>
            <th>
                Prayers

            </th>
            <th>
                Songs
            </th>
            <th>
                Speakers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingBishopric)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.OpeningPrayer)<br />
                @Html.DisplayFor(modelItem => item.OpeningPrayer)<br /><br />
                @Html.DisplayNameFor(modelItem => item.ClosingPrayer)<br />
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.OpeningHymnId) <br />
                @Html.DisplayFor(modelItem => item.OpeningHymnId)<br /><br />
                @Html.DisplayNameFor(modelItem => item.SacramentHymnId)<br />
                @Html.DisplayFor(modelItem => item.SacramentHymnId)<br /><br />
                @if (item.IntermediateHymn != null)
                {
                    @Html.DisplayNameFor(modelItem => item.IntermediateHymn)<br />
                    @Html.DisplayFor(modelItem => item.IntermediateHymn)<br /><br />

                }
                @Html.DisplayNameFor(modelItem => item.ClosingHymnId)<br />
                @Html.DisplayFor(modelItem => item.ClosingHymnId)
            </td>

            <td>
                @if (item.Speaker1 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker1)<br /><br />
                }
                @if (item.Speaker2 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker2)<br /><br />
                }
                @if (item.Speaker3 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker3)<br /><br />
                }
                @if (item.Speaker4 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker4)<br /><br />
                }
                @if (item.Speaker5 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker5)<br /><br />
                }
                @if (item.Speaker6 != null)
                {
                    @Html.DisplayFor(modelItem => item.Speaker6)<br />
                }

            </td>
            <td><br />
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a><br /><br />
                <a asp-action="Details" asp-route-id="@item.ID">Details</a><br /><br />
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
