@page  "{id:int?}"
@model MegaDesk.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>
    Details for @Html.DisplayFor(model => model.DeskQuote.FirstName)
    @Html.DisplayFor(model => model.DeskQuote.LastName)'s Quote
</h1>
<div>
    <hr />
    <br />
<div id="details"><br />

    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.FirstName)  :&emsp;&nbsp;&emsp;

                @Html.DisplayFor(model => model.DeskQuote.FirstName)
            </div>

            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.LastName)  :&ensp;
                @Html.DisplayFor(model => model.DeskQuote.LastName)


            </div>
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.QuoteDate) :&ensp;

                @Html.DisplayFor(model => model.DeskQuote.QuoteDate)

            </div>
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.Cost)  :&emsp;&emsp;&ensp;

                @Html.DisplayFor(model => model.DeskQuote.Cost)
            </div>

        </div>

        <div class="col-md-5">
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.DrawerNumber)  :&nbsp;

                @Html.DisplayFor(model => model.DeskQuote.DrawerNumber)
            </div>
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.Material)  :&ensp;

                @Html.DisplayFor(model => model.DeskQuote.Material)
            </div>
            <div class="rowD">
                @Html.DisplayNameFor(model => model.DeskQuote.Width)  :  &emsp;&nbsp;

                @Html.DisplayFor(model => model.DeskQuote.Width)
            </div>
            <div class="rowD">

                @Html.DisplayNameFor(model => model.DeskQuote.Depth)  : &emsp;&nbsp;

                @Html.DisplayFor(model => model.DeskQuote.Depth)
            </div>
            <div class="rowD">

                @Html.DisplayNameFor(model => model.DeskQuote.Shipping)  :

                @Html.DisplayFor(model => model.DeskQuote.Shipping) Days
            </div>
        </div>
    </div>
    </div>
</div>
<br />
<br />
<br />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>





