@page
@model MegaDesk.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.QuoteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.QuoteDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.DrawerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.DrawerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
