@page
@model MegaDesk.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quotes List</h1>
<p><a asp-page="./Create">Create New</a></p>

<!--Adding search field to the form-->
<form asp-page="./Index" method="get">

    <p>
        Find by Name:

        <input type="text" name="searchString" asp-for="@Model.CurrentFilter" />
        <input type="submit" id="btnSearch" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SortDate">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SortName">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].FirstName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].DrawerNumber)
            </th>
            <th>
                <span></span>@Html.DisplayNameFor(model => model.DeskQuote[0].Material)
            </th>
            <th>
                <span></span> @Html.DisplayNameFor(model => model.DeskQuote[0].Shipping)
            </th>
            <th>

                <span></span>@Html.DisplayNameFor(model => model.DeskQuote[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="indexresult">
                    @Html.DisplayFor(modelItem => item.DrawerNumber)
                </td>
                <td>
                    <span></span>@Html.DisplayFor(modelItem => item.Material)
                </td>
                <td class="indexresult">
                    <span></span>@Html.DisplayFor(modelItem => item.Shipping) Days
                </td>
                <td>
                    <div>
                        <span></span> @Html.DisplayFor(modelItem => item.Cost)<br />
                        <span></span><span></span>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </div>

                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
